/* ./styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    width: 80%;
}

.text-xxs {
    font-size: 9px;
}

.round-table {
    border-radius: 10px;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 2fr));
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 80%;
    }
  }
  