/* ./styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    width: 80%;
}

.text-xxs {
    font-size: 9px;
}

.round-table {
    border-radius: 10px;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 2fr));
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */

  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .visible {
      display: block;
  }

  .hidden {
    display: none;
}

.error-card {
    background-color: #ffb6b6;
    color: #ff0000;
    height: 3rem;
    border-radius: 10px;
    width: 100%;
}

.success-card {
    background-color: #10B981;
    color: #e0f8db;
    height: 3rem;
    border-radius: 10px;
    width: 75%;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 80%;
    }
    .error-card {
        width: 100%;
    }
}
  